{# ページネーター #}
<nav class="col-sm-8">
  <ul class="pager">
    {# ページ送りボタン(1) - 新しい投稿を表示する #}
    {% if page.has_previous %}
      <li class="previous">
        <a href="?page={{ page.previous_page_number }}"><span aria-hidden="true">&larr;</span> Newer</a>
      </li>
    {% else %}
      <li class="previous disabled">
        <a href="#"><span aria-hidden="true">&larr;</span> Newer</a>
      </li>
    {% endif %}

    {# ページ情報 #}
    <li>Page {{ page.number }} of {{ page.paginator.num_pages }}.</li>

    {# ページ送りボタン(2) - 古い投稿を表示する #}
    {% if page.has_next %}
      <li class="next">
        <a href="?page={{ page.next_page_number }}">Older <span aria-hidden="true">&rarr;</span></a>
      </li>
    {% else %}
      <li class="next disabled">
        <a href="#">Older <span aria-hidden="true">&rarr;</span></a>
      </li>
    {% endif %}
  </ul>
</nav>
