{% extends "base.html" %}

{% block body %}
  <a href="{% url 'crud:create' %}">追加画面へ</a>
    <table border="1">
      <thead>
        <tr>
          <th>message</th>
          <th>created_at</th>
          <th>updated_at</th>
          <th>　</th>
        </tr>
      </thead>
      <tbody>
        {% for message in object_list %}
          <tr>
            <td>{{ message.message }}</td>
            <td>{{ message.created_at|date:"Y/m/d" }}</td>
            <td>{{ message.updated_at|date:"Y/m/d" }}</td>
            <td>
                <a href="{% url 'crud:update' message.id %}">更新画面へ</a>
                <form method="post" action="{% url 'crud:delete' message.id %}">
                    <button type="submit">削除</button>
                    {% csrf_token %}
                </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% csrf_token %}
{% endblock %}
